<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <link rel="stylesheet" type="text/css" href="../../../css/quiz.css" /> -->
<link rel="stylesheet" type="text/css" href="@@css-file-ref@@" />
<title>Quiz</title>
</head>
<body>
<div class="main">
	<div id="title">Quiz</div>
	<div>&nbsp;</div>
	<div id="question">Game Over</div>
	<div id="content">
		<div id="choices">
	    	<p>@@summary@@</p>
	    </div>
	    <div id="buttons">
			<form action="logon" method="post">
				<input type="submit" name="start" value="Play Again"/>
			</form>
		</div>
	</div>
	<div>
		<div id="message">@@message@@</div>
	</div>
</div>
</body>
</html>